header{
  width: 100%;
}
main{
  height: 80%;
  background-color: darkred;


}

.card{

  margin: 10px;

}
.header{
  background-color: darkred;
}
.WHATS{
  width: 30px;
  height: 30px;
}
.face{
  width: 30px;
  height: 30px;
}
.yout{
  width: 30px;
  height: 30px;

}
.insta{
  width: 30px;
  height: 30px;

}
