<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-noticias.css">
    <title>Perú vende bonos a 100 años solo días después de crisis política</title>
  </head>
  <body>
    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.png" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

        </div>

      </li>


    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>

</nav>
</header>






<main class="bg-secondary">

  <div class="titulo">
    <h1>Perú vende bonos a 100 años solo días después de crisis política</h1>
  </div>

    <div class="parrafo1">
    <p>Perú está volviendo al mercado de deuda con una venta de tres partes, que incluye notas de 100 años, solo días después de una crisis política que hizo que tres presidentes ocuparan en el cargo en dos semanas.

La nación sudamericana está vendiendo bonos a 12 y 40 años, además de bonos a 100 años, y se espera que hoy se fijen los precios, según una persona con conocimiento del asunto. El tamaño de la venta aún no se conoce.</p>
    </div>

      <img class="" src="IMAGENES/politica/noticia1.jpg" alt="">

    <div class="parrafo2">
      <p>La venta es una prueba de la confianza de los inversionistas en un país que se vio envuelto en disturbios este mes después de la destitución del ahora expresidente Martín Vizcarra. Su reemplazo, el legislador Manuel Merino, renunció menos de una semana después en medio de protestas masivas en las que varios jóvenes manifestantes murieron a manos de la Policía. El Congreso luego votó por que el legislador centrista Francisco Sagasti ocupara el cargo hasta el término del mandato presidencial.

Los activos peruanos cayeron en medio de la agitación y, el lunes pasado, el sol alcanzó un mínimo histórico, aunque se ha recuperado desde el nombramiento de Sagasti. El país sigue siendo uno de los más seguros de América Latina, con un diferencial soberano de solo 142 puntos básicos sobre los títulos del Tesoro de EE.UU., según JPMorgan Chase & Co.

“Perú tiene una fuerte posición externa y un bajo nivel de endeudamiento”, dijo Shamaila Khan, director de deuda de mercados emergentes de AllianceBernstein en Nueva York. “Esperamos que el país tenga un sólido crédito de grado de inversión a pesar de la volatilidad política”.

Los ingresos de la venta ayudarán a Perú a combatir una de las peores tasas mundiales de mortalidad por covid-19 y las consecuencias financieras relacionadas. El Gobierno vendió US$3.000 millones en deuda en abril para respaldar lo que entonces era uno de los paquetes de estímulo más ambiciosos de América Latina.

La nación se une a países como Argentina, México, Irlanda y el Reino Unido en la venta de deuda con vencimiento a más de un siglo. Las notas de Argentina, vendidas en 2017, se reestructuraron este año.

Perú mismo ha experimentado ocho reestructuraciones y defaults externos desde su independencia en 1821, según el libro “Esta vez es diferente: Ocho siglos de locura financiera”.

Banco Bilbao Vizcaya Argentaria, Citigroup Inc., Goldman Sachs Group Inc., Itaú BBA y Morgan Stanley están ayudando a gestionar la venta.</p>


    </div>



</main>


<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="PROYEC.HTML"> MIALNOTICAS</a>
  </div>

</footer>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
  </body>
</html>
