<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-noticias.css">
    <title>La dieta alcalina: ¿qué riesgos para la salud conlleva este régimen?</title>
  </head>
  <body>
    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.png" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

        </div>

      </li>


    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>

</nav>
</header>






<main class="bg-secondary">

  <div class="titulo">
    <h1>La dieta alcalina: ¿qué riesgos para la salud conlleva este régimen?</h1>
  </div>

    <div class="parrafo1">
    <p>La popularidad de la dieta alcalina ha crecido en los últimos años bajo la falsa idea de que cura enfermedades como el cáncer</p>
    </div>

      <img class="" src="IMAGENES/salud/noticia4.jpg" alt="">

    <div class="parrafo2">
      <p>Está claro que la sociedad es cada vez más consciente de los beneficios que aporta una alimentación variada y saludable. Sin embargo, este conocimiento generalizado de la población ha provocado que se popularicen ciertas dietas que se venden como la panacea universal, pero cuyo seguimiento puede resultar, incluso, contraproducente. La dieta alcalina ha sido una de las que en los últimos años ha saltado al estrellato y de forma literal, porque han sido muchas celebrities las que han se han hecho eco de este régimen y de los kilos que se pierden con él. Jennifer Aniston, Kate Hudson, Victoria Beckham, Gwyneth Paltrow y un largo etcétera.
<br>
Pero, para los que aún no lo tengan muy claro, ¿en qué se basa realmente este plan alimenticio? “La dieta alcalina sostiene que las enfermedades se desarrollan en medios ácidos, es decir, con bajo pH, y, por ello, para prevenir ciertas enfermedades es necesario aumentar este pH alcalinizando nuestro organismo a través de la alimentación”, explica Sara Corredor, miembro de la Junta Ejecutiva del Colegio Oficial de Dietistas-Nutricionistas de la Comunidad Valenciana (Codinucova). De esta forma, este plan supone el consumo de un 80% de alimentos alcalinos o alcalinizantes (frutas, verduras y legumbres), más un 20% de nutrientes ácidos, que se concentran en la comida proteica y láctea.
<br>
La experta cuenta que “se cree que ciertos alimentos alcalinos evitarán dicha acidez en nuestro organismo y podrán tratar y prevenir ciertas patologías como el cáncer, la obesidad, enfermedades cardiovasculares…”. Precisamente la idea del supuesto poder curativo de todas estas afecciones es lo que ha aumentado la fama de esta dieta en los últimos meses, que ha sido defendida, tal y como señala Corredor, “por gurús de la alimentación y practicantes de la medicina alternativa”.
<br>
En este sentido, la nutricionista aclara que la dieta alcalina “parte de una teoría científica, pero se demostró que era errónea porque no existe evidencia científica alguna que respalde que el aumento de la alcalinidad en el cuerpo signifique mayor salud”. Esta dieta milagro, como la llaman los expertos, ya ha sido cuestionada en varias ocasiones por la Asociación Española Contra el Cáncer (AECC), que ha insistido siempre en que “no existe ningún alimento ni combinación de ellos que cure el cáncer”.
<br>
Una afirmación que defiende también el Instituto Americano para la Investigación del Cáncer, que añade que, en realidad, nuestro equilibrio ácido-base está bien regulado porque, generalmente, el organismo sabe controlar el pH de la sangre. De hecho, por nosotros mismos no podemos cambiar los niveles de acidez del cuerpo por varias razones.
<br>
“Una de ellas es que el cuerpo no presenta un único pH, varía según los distintos sistemas. Otro motivo es que ese pH se altera a lo largo del día y, finalmente, tampoco podemos controlarlo por nosotros mismos porque ya el propio organismo, a través de los diferentes sistemas de regulación que posee, nuestro cuerpo es capaz de establecer por sí solo el equilibrio ácido-base”, detalla Corredor.
<br>
¿Las personas con diabetes deben seguir este plan?
Por todos es sabido que las verduras y frutas son alimentos muy saludables y recomendables, especialmente para aquellos individuos que sufren patologías como la diabetes. Corredor expone que “es aconsejable que las personas con diabetes (y sin ella) tomen frutas y verduras como las que promulga la dieta alcalina, pero que no piensen que mejoran porque regulan su nivel de pH, sino simplemente por el cambio de hábito y la introducción de estos alimentos en su dieta”.
<br>
En este punto, la especialista repite que este tipo de dieta no supone riesgos para la salud: “El problema radica en la falsa hipótesis de que seguir un plan que alcaliniza el pH de tu organismo te ayudará a prevenir ciertas enfermedades”. </p>


    </div>



</main>


<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="PROYEC.HTML"> MIALNOTICAS</a>
  </div>

</footer>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
  </body>
</html>
