<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-noticias.css">
    <title>Senado: martes y jueves habrá reuniones virtuales de comisión</title>
  </head>
  <body>
    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.png" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

        </div>

      </li>


    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>

</nav>
</header>






<main class="bg-secondary">

  <div class="titulo">
    <h1>Senado: martes y jueves habrá reuniones virtuales de comisión</h1>
  </div>

    <div class="parrafo1">
    <p>Las comisiones de Producción, Legislación General y la de Salud Pública, Medio Ambiente Humano y Drogadicción sesionarán el martes de manera virtual. El jueves 26 en tanto, hará lo propio la comisión de Mercosur, Deportes y Turismo.</p>
    </div>

      <img class="img" src="IMAGENES/politica/noticia10.jpg" alt="">

    <div class="parrafo2">
      <p>Bajo modalidad no presencial, están convocadas para darle continuidad al trabajo legislativo el martes, las comisiones de Producción, Legislación General y la de Salud Pública, Medio Ambiente Humano y Drogadicción. El jueves 26 en tanto, hará lo propio la comisión de Mercosur, Deportes y Turismo.
<br>
La comisión convocada para este jueves, además, compartirá un encuentro con las Comisiones de la Banca de las Mujeres, Géneros y Diversidad y la de Deportes de la Honorable Cámara de Diputados.
<br>
De manera no presencial, en el marco de las medidas de prevención adoptadas a raíz de la pandemia por Covid 19, el martes 24 de noviembre tres comisiones del Senado están convocadas para darle continuidad al trabajo legislativo.
<br><br>
Comisión de Producción <br>

En primer lugar está convocada desde las 9 de la mañana la Comisión de Producción del Senado que preside el senador Francisco Morchio (Cambiemos - Gualeguay), para continuar su labor en torno al proyecto que crea el Fondo Especial de Emergencia (FEE) por catástrofes o desastres que se produzcan o puedan producirse en el territorio Provincial, ya sean origen natural o antrópico.
<br> <br>
Comisión de Legislación General <br>

A las 10, en tanto, se reunirá la de Legislación General que encabeza la representante del Departamento Diamante, la senadora Claudia Gieco (Frente Justicialista). Con el presidente del Colegio de Abogados de Entre Ríos Alejandro Canavesio como invitado, el cuerpo se dispondrá a tratar el expediente Nº 23.652 por el que se derogan las Leyes N° 4.109 y 5.709, y se establece el marco regulatorio del "Colegio de la Abogacía de Entre Ríos".
<br>
Conforma también la agenda de la comisión para ese día, el tratamiento del expediente N° 24.134 por el que se crea la Campaña de Concientización para la Equidad de Género en el Trabajo Doméstico y Tareas de Cuidado No Remuneradas; y por otro lado el expediente Nº 13.816 mediante el cual se ratifica el artículo 1º de la Ley Nº 10.765 por el que se autoriza al Poder Ejecutivo a aceptar la transferencia a título gratuito efectuada por "Del Litoral, Obras, Servicios y Montajes SA", a favor del Superior Gobierno.
<br> <br>
Salud Pública, Medio Ambiente Humano y Drogadicción <br>

A las 12 del martes está prevista la reunión de la comisión de Salud Pública, Medio Ambiente Humano y Drogadicción que preside la senadora Nancy Miranda (Frente Justicialista - Federal) para trabajar en torno al expediente N° 24.122 por el que se aprueba el plan de lucha contra el mosquito Aedes Aegypti, para la prevención del Dengue, Zica y Chikungunya.
<br>
Ese día, además, el cuerpo tratará el expediente N° 24227 por el que se establecen pautas y normas generales para la clasificación en origen de los Residuos Sólidos Urbanos que se generen dentro de las dependencias del sector público en el territorio de la Provincia, en complementariedad a lo dispuesto por la Ley N° 10.311 de Gestión de Residuos Sólido-Urbanos.
<br>
Otro de los temas agendados para la jornada, tiene que ver con el expediente N° 24.130 por el que se prohíbe en la Provincia, la exhibición, oferta, publicidad y/ o promoción de alimentos y bebidas ultraprocesados en las filas y líneas de cajas registradoras, accesos y salidas de supermercados y otros comercios de la modalidad autoservicio, como así también las farmacias, con el objeto de disminuir la prevalencia e incidencia del sobrepeso, obesidad, diabetes y otras enfermedades crónicas no transmisibles en la población.
<br> <br>
Mercosur, Deportes y Turismo
<br>
Por otro lado, el jueves a las 12 se reunirá la comisión de Mercosur, Deportes y Turismo que preside el senador Armando Gay (Frente Justicialista - Concordia) y lo hará de manera conjunta con las Comisiones de Banca de las Mujeres, Géneros y Diversidad y la de Deportes de la Honorable Cámara de Diputados, para tratar el expediente Nº 24.398 por el que se establece la capacitación obligatoria en la temática de género y violencia contra las mujeres conforme las disposiciones de la Ley Nacional Nº 27.499, Ley Micaela y de la Ley Provincial Nº 10.768 para la totalidad de las autoridades y del personal que se desempeñe en las entidades deportivas de la Provincia de Entre Ríos.</p>


    </div>



</main>


<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="PROYEC.HTML"> MIALNOTICAS</a>
  </div>

</footer>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
  </body>
</html>
