<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-noticias.css">
    <title>La política exterior Argentina 2020: cuando se creía tener todas las respuestas, se cambiaron todas las preguntas</title>
  </head>
  <body>
    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.png" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

        </div>

      </li>


    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>

</nav>
</header>






<main class="bg-secondary">

  <div class="titulo">
    <h1>La política exterior Argentina 2020: cuando se creía tener todas las respuestas, se cambiaron todas las preguntas</h1>
  </div>

    <div class="parrafo1">
    <p>Más allá de mala relación durante el pasado período K con la dupla Obama-Biden, desde el oficialismo se puso énfasis en la gran noticia que implicaría una salida de Trump del poder en los EEUU</p>
    </div>

      <img class="img" src="IMAGENES/politica/noticia11.jpg" alt="">

    <div class="parrafo2">
      <p>En el caso que uno hiciese un bosquejo de que visión del mundo que tiene el sector con más peso de la actual coalición gobernante en la Argentina, se podría reducir a tener óptimos vínculos con aquellas potencias percibidas como rivales de los EEUU o sea China y Rusia y con aliados de esos países en nuestra región o sea Cuba, Venezuela y algunos más. Más allá de mala relación existente durante el pasado periodo K con la dupla Obama-Biden entre el 2009 y el 2016, a lo largo de éste año desde el oficialismo argentino se puso énfasis en la gran noticia que implicaría una salida de Trump del poder y la llegada de Biden.
<br>
En el caso que en las próximas semanas la justicia americana termine confirmando al mismo como el próximo presidente americano, de más esta decir que los que deberán cambiar para que esta vez sí haya buena química con el ex vicepresidente de Obama, serán los gobernantes argentinos. Es poco realista pensar en que este dirigentes de 78 años se vaya a interrogar o replantear sobre si él y su gobierno hizo algo mal. Mientras por estas pampas se aborda al mundo mirándonos el ombligo, las pujas y peleas de pago chico, se están produciendo algunos replanteos significativos en el mapa geopolítico regional e internacional. <br> </p>
      <p>Para empezar el cruce de elogios entre Bolsonaro y Putin en la reciente cumbre de los países del BRICS o sea Brasil, Rusia, India, China y Sudáfrica. Todo en el marco del profundo malestar que produjo en el gobierno brasileño, en las FFAA y en amplios sectores de la opinión pública de ese país, las duras palabras de Biden sobre el Brasil y el cuidado del Amazonas durante el debate presidencial con Trump. Lo cual luego fue contestado duramente por el primer mandatario brasileño, cuando afirmó que cuando a los gobernantes se les acaba la saliva, tienen que estar dispuestos a usar a la pólvora. Este intercambio entre Biden y Bolsonaro fue rápidamente aprovechado por el siempre asertivo gobernante ruso así como también por la misma China.
<br>
Durante estos dos primeros años, Bolsonaro estableció una fuerte relación personal y política con Trump lo cual lo llevó en varias ocasiones a tener posturas duras con Beijing. Cabe recordar que durante la campaña electoral, él mismo repetía el lema que China debe comprar en Brasil pero no comprar Brasil. A ellos le sumaba, críticas a las visiones de la izquierda brasileña de acercarse de manera acrítica a Moscú y Beijing con tal de molestar a EEUU y darle capital simbólico a sus bases de pequeños burgueses urbanos que suelen estar mucho más atentos a estos temas que los sectores populares y los pauperizados.
<br>
En la actual dura puja judicial en desarrollo en los EEUU pos elecciones del 3 de Noviembre, Trump y su equipo legal, y con el firme apoyo de Senadores claves del Partido Republicano, han destacado el rol del multimillonario G. Soros en las operaciones mediáticas y políticas que se han venido desarrollando en los últimos años contra él actual residente en la Casa Blanca. Cabe recordar que Putin y su gobierno ven en Soros, sus medios y ONGs a enemigos de primera magnitud. Lo mismo sucede también el con Partido Comunista chino, que rechaza las críticas que reciben desde estos ámbitos respaldados por el siempre muy activo mecenas contra la política de DDHH.
<br>
Volviendo a la Argentina, el sector del gobierno y sus medios de prensa y académicos afines ven con satisfacción y hasta con ansiedad la llegada de Biden y en muchos casos reproducen información y líneas argumentales de los ámbitos respaldados por Soros en los EEUU. En otras palabras, parece poco viable jugar a estrechar lazos con Putin, XI Ximping, Biden y Soros. Al mismo tiempo la posturas fóbicas desde el oficialismo argentino hacia Bolsonaro, ¿cómo mutaran a partir de una más estrecha relación del mismo con Rusia y con la misma China? ¿Brasilia pasará a tener peor relación con el imperio americano, que tanto molesta al mundo K, que la Casa Rosada en el caso de confirmarse la jura de Biden el próximo 20 de Enero? Todo un desafío para el componente de política exterior del relato.
<br>
Quizás la mejor receta para salir de éste laberinto, sea cumplir con el ABC de cualquier manual de primer año de la carrera de RRII en cualquier buena universidad de Washington, Paris, Moscú, Beijing, Londres, Brasilia, etc., o sea dejar la ideología y la grandilocuencia de lado y centrarse en los intereses nacionales y en las capacidades materiales, económicas, tecnológicas y militares de los Estados. Los temas de política exterior son demasiado sensibles para dejarlos básicamente como un componente de juegos para la tribuna.</p>

    </div>



</main>


<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="PROYEC.HTML"> MIALNOTICAS</a>
  </div>

</footer>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
  </body>
</html>
