<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-noticias.css">
    <title>El excéntrico look de Wanda Nara para andar a caballo, su nuevo entretenimiento en París</title>
  </head>
  <body>
    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.png" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

        </div>

      </li>


    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>

</nav>
</header>






<main class="bg-secondary">

  <div class="titulo">
    <h1>El excéntrico look de Wanda Nara para andar a caballo, su nuevo entretenimiento en París</h1>
  </div>

    <div class="parrafo1">
    <p>Wanda Nara dejó Italia y se instaló en Francia con sus hijos para acompañar a Mauro Icardi en su carrera futbolística como parte del equipo del Paris Saint Germain. La mediática descubrió en París una nueva pasión: los caballos. Por este motivo, cada vez que tiene tiempo libre lo aprovecha para practicar equitación y disfrutar del campo con su familia.

“Mi cuarentena, enamorada”, escribió la hermana de Zaira Nara en su cuenta oficial de Instagram junto a una tierna imagen en la que aparece abrazada a un caballo. Mientras que en otra publicación aparece rodeada de varios equinos. “Hay equipo, dentro de poquito entran en pista. Bebés #POLO”, señaló en la red social.

Muchos de sus seguidores la halagaron por el look que eligió Wanda: un mono ajustado al cuerpo, con cuello redondo y mangas largas de Gucci, una de las marcas preferidas a la hora de vestirse. El enterito tiene el monograma que distingue a la firma de color negro y nude. Y se destaca por la estampa de un murciélago en su centro. Esta exclusiva prenda que forma parte de la colección masculina cuesta alrededor de 2.800 dólares.</p>
    </div>

      <img class="img" src="IMAGENES/entretenimiento/noticia12.jpg" alt="">

    <div class="parrafo2">
      <p>Wanda también disfruta de que sus niñas puedan estar al aire libre, en contacto con los caballos. “Cría hijos cerca de la naturaleza y crecerán hijos felices, sensibles y libres. Amo verlas peinadas pero más aun despeinadas de aventuras , juegos y de correr detrás de los animales”, escribió junto a una foto en la que aparecen Isabella y Francesca, luciendo ponchos y botas de equitación.</p>
      <p>Recientemente, la familia celebró el cumpleaños de Isabella, con una fiesta temática de Princesas, rodeada de amigos, pero lejos de sus seres queridos de la Argentina, debido a la pandemia. “Festejó sus 4 años casi sin entender lo que vive el Mundo hoy en día. Obviamente la familia y muchos amigos no pudieron estar pero sabemos que nos abrazan a la distancia en este año tan difícil para todos”, escribió Wanda, un tanto nostálgica.

Luego, la ex de Maxi López agregó: “Gracias a los poquitos que pudimos invitar a casa pero que hicieron que Isabella y nosotros seamos muy felices y pudiera tener su tan soñada torta de princesa, gracias a mi familia de amigos en París que queremos tanto, y siempre me ayudan en todo”.

La mediática siempre logra llamar la atención de los medios con sus publicaciones en Instagram. Para Halloween fue noticia en el diario The Sun por el disfraz que eligió ponerse en Noche de Brujas. “¿Dulce o truco? Halloween en casa” y “En mi interior un ángel”, escribió la empresaria junto a las imágenes en las que tenía un traje de cuero negro súper llamativo. <br>
“Wanda Nara aturde con un traje de cuero ajustado para Halloween e insiste en que es un ‘ángel por dentro’”, tituló el diario británico The Sun y la presentan como “la esposa de la estrella del París Saint Germain, Mauro Icardi”.

Entre sus dos posteos, la menor de las Nara consiguió casi medio millón de likes. Entre los comentarios, su amiga Sol Estevanez escribió: “Tan buena persona”. Mientras que su mamá Nora Colosimo puso emojis de bombas y su hermana Zaira manifestó: “Opa lala, Gatúbela”.

En su última publicación en Instagram, Wanda volvió a sorprender a sus más de siete millones de seguidores al posar en topless frente a un espejo. “Todo lo que queda es invierno”, señaló y recibió muchos comentarios que la halagaban por su belleza.</p>

    </div>



</main>


<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="PROYEC.HTML"> MIALNOTICAS</a>
  </div>

</footer>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
  </body>
</html>
