<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-noticias.css">
    <title>ARA San Juan: por qué la Justicia ordenó investigar la responsabilidad política</title>
  </head>
  <body>
    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.png" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

        </div>

      </li>


    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>

</nav>
</header>






<main class="bg-secondary">

  <div class="titulo">
    <h1>ARA San Juan: por qué la Justicia ordenó investigar la responsabilidad política</h1>
  </div>

    <div class="parrafo1">
    <p>A los 44 tripulantes de la nave "los enviaron a la muerte", subrayó la abogada Valeria Carreras. La responsabilidad del ex presidente Mauricio Macri "está documentada, asentada con su firma", aseguró Luis Tagliapetra, padre de uno de los marinos fallecidos y querellante.</p>
    </div>

      <img class="img" src="IMAGENES/politica/noticia4.jpg" alt="">

    <div class="parrafo2">
      <p>El fallo de la Cámara Federal de Comodoro Rivadavia que ordenó investigar la responsabilidad del expresidente Mauricio Macri y de su ministro de Defensa Oscar Aguad en el hundimiento del ARA San Juan abrió las puertas por primera vez a una indagación seria sobre el papel de la gestión macrista en torno al submarino. Después de la sentencia, los abogados querellantes recalcaron que Macri tenía “pleno conocimiento” de las graves falencias técnicas que padecía la nave y que hacían prever la tragedia. “Sabían que el submarino tenía una limitación de inmersión de 100 metros y lo mandaron a una misión en la que debían llegar a 900 y 3000 metros de profundidad”, le dijo a Página/12 la abogada Valeria Carreras. La abogada sostuvo que “los enviaron a la muerte”. Luis Tagliapietra, abogado querellante y padre de uno de los 44 tripulantes de la nave, aseguró que el expresidente “sabía todo y es responsable”. Aseguró que su responsabilidad “está documentada, asentada con su firma”. <br>

La jueza federal de Caleta Olivia, Marta Yáñez, tiene ahora la responsabilidad de “indagar y acreditar” el conocimiento de Macri y Aguad en las causas del hundimiento. La Cámara le ordenó que “no se descarten ni sean sesgadas prematuramente” líneas de investigación porque el proceso penal debe “procurar el pleno esclarecimiento de los hechos” para que “los culpables, penalmente responsables, no queden impunes”. <br>

En el fallo de 177 páginas se subrayó que se debe “proteger a las víctimas”, los 44 tripulantes del submarino, y a sus familias. Los jueces pusieron énfasis en que se investigue a fondo la actuación de las distintas dependencias del Ministerio de Defensa con posible responsabilidad en los hechos y su subordinación al jefe del Poder Ejecutivo. Uno de los puntos señalados es el análisis de los ajustes presupuestarios que pudieron haber afectado la puesta a punto del submarino antes de su última partida. <br>

El rastro de las decisiones <br>
Carreras opinó que es importante el fallo de la Cámara Federal de Comodoro Rivadavia “porque permite seguir investigando a los responsables políticos”, Respecto de qué saben Macri y Aguad, sostuvo que “ellos saben todo lo que pasó y son responsables de lo que sucedió”. <br>

Recordó que incluso “enviaban a espiar a los familiares, de manera que sabían lo que le reclamaban al gobierno antes de que se lo pidieran”. Precisó que cuando tuvieron la reunión con Macri en la Casa Rosada “el presidente sacó de una carpeta que tenía debajo de sus manos, un decreto”. El mismo era “para ofrecer una recompensa a quien ofreciera datos sobre el ARA San Juan”. Carreras resaltó que “en la causa por espionaje que tramita en Mar del Plata, hay documentación que señala que el presidente sabía de antemano que ese era uno de los pedidos de los familiares”, porque personal de inteligencia “había hecho una tarea de inteligencia ilegal espiando a los familiares, mediante la pinchadura de teléfonos y entrando a sus portales en las redes sociales”. <br>

El abogado Tagliapietra, en relación con el fallo de la Cámara de Comodoro Rivadavia, aseguró que “está documentado por su firma que Mauricio Macri conocía el plan de operaciones” del submarino ARA San Juan”. <br>

Tagliapietra, padre de Alejandro, uno de los tripulantes del submarino, sostuvo que lo resuelto por los jueces “responde a muchos de los planteos que veníamos reclamándole en la causa y ahora esperamos que se profundice la investigación, que se hagan las pericias”. Tagliapietra consideró que “el fallo de los jueces ya está señalando que los tres tienen responsabilidades”, en referencia a Macri, al ex ministro de Defensa Alfredo Aguad y al ex titular de la Armada, Marcelo Srur. “Es importantísimo lo que pasó y aunque es un fallo salomónico, muchas de las cosas que se señalan son fundamentales para que se profundice la investigación y se llegue a la verdad”. Respecto de la responsabilidad de Mauricio Macri, insistió en que “está documentado el conocimiento que tenía sobre los hechos que determinaron el hundimiento” de la nave. <br>

Enviado a misión a pesar de las fallas <br>
El fallo de la Cámara puso énfasis en el Informe de Auditoría enviado a Defensa por los inspectores generales de la fuerza, que señalaron las graves deficiencias que tenía la nave antes de partir. Un documento incorporado a la causa afirma que el submarino sólo tenía una capacidad de inmersión de 100 metros y debía cumplir una misión a 900 y 3000 metros de profundidad.<br>

Es por eso que se ordenó también que se investigue la responsabilidad del ex jefe de la Armada, Marcelo Srur. Los jueces dijeron que todo “conduce a descartar que el Almirante Srur pudiera no tener conocimiento de los defectos” que tenía el ARA San Juan antes de su partida. El era, además, “quien podía cambiar el estado de condición de una unidad, en base a sus registros de fallas” que le fueron comunicadas. <br>

En el fallo se dijo textualmente que cuando la doctora Carreras solicitó el procesamiento de Macri, la jueza consideró que no encontraba “elementos de mérito” que fundamentaran el pedido para que se le tomara declaración indagatoria al entonces mandatario nacional. La solicitud fue para que también fueran indagados  Aguad y el extitular de la Armada almirante Marcelo Srur. <br>

La Cámara consideró ahora que el rechazo de la jueza significa “una desvinculación definitiva del proceso de los (tres) funcionarios”. Los jueces señalaron que la decisión de Yáñez se produjo “en esta etapa, en la que la instrucción de ningún modo se encuentra completa”, por lo cual “deviene improcedente, por prematura” teniendo en cuenta que eso puede afectar “otro posible cauce de investigación”.<br>

Lo premura de la medida está demostrado porque “aún se encuentra prueba sustancial pendiente de producción”. Por esa razón “no es posible concluir”, de la manera que hizo la jueza, “en la inexistencia de mérito, presente y futuro” que justifique su rechazo a la indagatoria de Macri, Aguad y Srur. <br>

Detalles todavía pendientes <br>
El fallo del tribunal argumentó, además, que “existen elementos de ponderación que tornan procedente revocar una decisión definitiva de esas características”. Los jueces señalaron que “en efecto, el Presidente de la Nación Argentina es por mandato constitucional el Comandante en Jefe de las Fuerzas Armadas, atribución que, aunque no resulta ser de naturaleza militar, integra el aparato de Defensa Nacional por intermedio del Ministerio respectivo”. <br>

Citando una decisión administrativa, la 546/2016, agregada a la causa, se señaló que “el Ministerio de Defensa se encuentra integrado por una compleja estructura administrativa” compuesta “por varias Secretarías a través de las cuales el Ministerio” cumple “la misión de asistencia y asesoramiento al Presidente” en los términos de la ley 22.250, que regula el funcionamiento de la Aseguradora de Riesgos de Trabajo (ART). <br>

Uno de los artículos de la citada ley, establece que la Secretaría de Estrategia y Asuntos Militares, la Subsecretaría de Planeamiento Estratégico y Política Militar y la Dirección General de Asuntos militares tienen una “responsabilidad primaria (que) consiste en ‘entender en la dirección y coordinación operativa y funcional de los asuntos militares, supervisando y coordinando la totalidad de las actividades en las cuales se requiera el empleo de los medios asignados a las Fuerzas Armadas’”. <br>

Una de sus funciones era “intervenir en la formulación y análisis de las políticas nacionales en cuya aplicación se requiera la utilización de los recursos asignados a las Fuerzas Armadas”. <br>

Eso los llevaba a “intervenir en la proposición de las medidas generales de conducción y administración de las Fuerzas Armadas en el ámbito de su competencia”. Dentro de la Secretaría de Estrategia funcionaba la Dirección General de Planeamiento y Estrategia, cuya responsabilidad primaria era “entender en la evaluación estratégica de las cuestiones de interés para la Defensa Nacional y dirigir y supervisar las actividades vinculadas con el Ciclo de Planeamiento de la Defensa Nacional, su evaluación y actualización”. <br>

Eso, además de las funciones que le corresponden a la Secretaría de Servicios Logísticos para la Defensa y Coordinación militar y la Subsecretaría de Coordinación Administrativa, dependencia que dio cuenta de la existencia de un “Programa 16” destinado al “Alistamiento Operacional, que incluye Recuperación, Modernización e Incorporación de Medios y Mantenimiento de Medios e infraestructura para el Alistamiento Operacional”. <br>

Esto incluía también el llamado “Programa 20” (Transportes navales, Mantenimiento de Medios e Infraestructura para Transportes Navales), “sobre cuya intervención respecto del alistamiento del ARA San Juan, no ha sido investigada”. <br>

Por tales razones, los jueces consideraron que “aún no es posible determinar si a esas áreas ministeriales les cupo participación alguna en la programación de las tareas de mantenimiento, requerimientos de obras y repuestos, administración y rendimiento de partidas presupuestarias o incluso conocimiento de los planes operativos y misiones que se le encomendaban a la Fuerza de Submarinos”. <br>

Se subrayó que eso se tiene en cuenta “en especial porque conforme lo declararon los Inspectores Generales de la Armada, Guillermo Lezana (fs. 939/943) y Eduardo Pérez Bacchi (fs. 975/978) el 15 de febrero de 2017 se remitió copia del informe de Auditoría al Ministerio de Defensa, por lo que se desconoce qué seguimiento, control o intervención debió hacerse con tan sensible información”. <br>

Por tales motivos, en la causa a cargo de la jueza Marta Yáñez “deberá indagarse y acreditarse en el expediente, el conocimiento por parte del Ministerio de Defensa y del titular del Poder Ejecutivo, sobre la realización del ejercicio naval, de la importante envergadura que significaba el que puso en marcha la Orden COAA 14/17” que dio comienzo el 25 de octubre de 2017, cuando el submarino partió hacia la que sería su última travesía, desde el puerto de Mar del Plata. <br>

Buques sin presupuestos
La jueza debe poner atención en “las constancias que den cuenta de los recortes presupuestarios que afectaban a las fuerzas armadas y en particular a los buques” que participaban en la misión. <br>

Los jueces puntualizaron, también, que “no se ha indagado sobre las autorizaciones ministeriales (y las) asignaciones presupuestarias” para determinar “si ha mediado una política de ajuste y qué incidencia pudieron tener en la calidad, frecuencia y eficiencia de las tareas de mantenimiento, empezando por la reparación de ‘media vida’ como relevante para el estado de alistamiento que presentaba el SUSJ en octubre y noviembre de 2017”. <br>

Estas razones impiden –al menos en este estado del proceso- descartar definitivamente, que el Ejecutivo Nacional por vía del Ministerio de Defensa y a través de sus Secretarías de Estado respectivas, no tuviera participación alguna en los hechos que se investigan. <br>

En el fallo se agregó que “en la misma línea de pensamiento, la desvinculación efectuada respecto del Jefe del Estado Mayor Gral de la Armada, Vicealmirante Marcelo Srur, resulta en esta instancia igualmente prematura”. <br>

Sobre la situación de Srur, se precisó que se encuentran “pendientes importantes medidas probatorias, necesarias para un completo esclarecimiento de un hecho de tal magnitud como el que nos convoca, donde han perdido la vida 44 compatriotas al servicio de la Defensa Nacional”. <br>

Los jueces señalaron que las constancias que figuran en el expediente conducen hasta el momento “hacia una línea distinta con relación al temperamento que a su respecto corresponde adoptar”. Recordaron que en el fallo “hemos señalado en varias oportunidades la importancia de la cadena y estructura de mando dentro de las Fuerzas Armadas y la relación de jerarquía existente entre sus integrantes”.</p>
      <p></p>

    </div>



</main>


<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="PROYEC.HTML"> MIALNOTICAS</a>
  </div>

</footer>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
  </body>
</html>
