<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-noticias.css">
    <title>American Music Awards 2020: Esta es la lista de ganadores</title>
  </head>
  <body>
    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.png" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

        </div>

      </li>


    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>

</nav>
</header>






<main class="bg-secondary">

  <div class="titulo">
    <h1>American Music Awards 2020: Esta es la lista de ganadores</h1>
  </div>

    <div class="parrafo1">
    <p>Taylor Swift ganó su tercer galardón consecutivo de artista del año en los premios American Music, pero se perdió el programa por una buena razón: dijo estar ocupada regrabando su música de tiempo atrás.</p>
    </div>

      <img class="img" src="IMAGENES/entretenimiento/noticia2.jpg" alt="">

    <div class="parrafo2">
      <p>En un video que salió al aire durante la entrega de los premios del domingo 22 de noviembre, la estrella del pop dijo: “la razón por la que no estoy esta noche es que en realidad estoy regrabando toda mi música antigua en el estudio donde la grabamos originalmente. Así que ha sido increíble. Y no puedo esperar a que la escuchen”.

El año pasado, el manager musical Scooter Braun, que también maneja los asuntos de Justin Bieber y Ariana Grande, anunció que su compañía Ithaca Holdings había adquirido Big Machine Label Group, el hogar de los primeros seis álbumes de Swift.

Este mes, Braun dijo que vendió los derechos maestros de los primeros seis álbumes de Swift a una compañía de inversión. Swift reconoció la venta en las redes sociales y dijo que no trabajaría con los nuevos compradores porque Braun todavía estaba involucrado. En cambio, ella regresó al estudio.

Swift venció a Bieber, Post Malone y Roddy Ricch para ganar el máximo galardón de los AMA. También ganó los reconocimientos al video musical favorito y a la artista femenina favorita de pop/rock, ganando tres honores y empatando con Bieber, Dan + Shay y The Weeknd en la mayoría de las victorias anunciadas el domingo.

The Weeknd perdió el premio de artista del año, pero aun así comenzó su semana como ganador: días antes de que se esperara que consiguiera múltiples nominaciones al Grammy, ganó el premio al artista masculino favorito de soul/R&B, el álbum favorito de soul/R&B por “After Hours “y la canción favorita de soul/R&B por “Heartless”, dos días antes de que se anuncien las nominaciones al Grammy de 2021.

Estos los ganadores de los AMAs 2020:

Artista del año: Taylor Swift
Nuevo artista del año: Doja Cat
Colaboración del año: Dan + Shay with Justin Bieber por 10,000 hours
Artista social favorito: BTS
Video musical favorito: Taylor Swift
Artista masculino favorito (pop/rock): Justin Bieber
Artista femenica favorita (pop/rock): Taylor Swift
Dúo o grupo favorito (pop/rock): BTS
Álbum favorito (pop/rock): Harry Styles por Fine Line
Canción favorita (pop/rock): Dua Lipa por Don't Start Now
Artista masculino favorito (country): Kane Brown
Artista femenina favorita (country): Maren Morris
Dúo o grupo favorito (country): Dan + Shay
Álbum favorito (country): Blake Shelton por Fully Loaded: God's Country
Canción favorita (country): Dan + Shay with Justin Bieber por 10,000 hours
Artista masculino favorito (rap/hip hop): Juice WRLD
Artista femenina favorita (rap/hip hop): Nicki Minaj
Álbum favorito (rap/hip hop): Roddy Ricch por Please Excuse Me For Being Antisocial)
Canción favorita (rap/hip hop): Cardi B ft. Megan Thee Stallion porWAP
Artista masculino favorito (soul/R&B): The Weeknd
Artista femenina favorita (soul/R&B): Doja Cat
Álbum favorito (soul/R&B): The Weeknd por After Hours
Canción favorita (soul/R&B): The Weeknd por Hertless
Artistas masculino favorito (latino): Bad Bunny
Artista femenina favorita (latina): Becky G
Álbum favorito (latino): Bad Bunny por YHLQMDLG
Canción favorita (latina): Karol G & Nicki Minaj por Tusa
Artista favorito (rock alternativo): Twenty one pilots
Artista favorito (adulto contemporáneo): Jonas Brothers
Artista favorita (inspiración contemporánea): for KING & COUNTRY
Artista favorito (música electrónica): Lady Gaga
Banda sonora favorita: Birds of Prey: The Album.
Bad Bunny participó en la ceremonia virtualmente desde su casa en Los Ángeles para presentar un premio, pero no interpretó su nuevo éxito “Dákiti” con Jhay Cortez, como tenía previsto, porque contrajo el COVID-19.

Este años los AMAs, que normalmente entregan un solo premio a la música latina, lanzó más categorías en el género.

Becky G, quien debutó en la escena musical en 2014 con el éxito pop “Shower” pero ha tenido éxito cantando en español, ganó artista latina favorita. Usó su discurso para honrar a su familia inmigrante.“Llevo con honor ambas banderas, la mexicana y la estadounidense. Y como muchos, muchos hijos y nietos de inmigrantes, sin importar de dónde son, hemos aprendido de aquellos antes que nosotros sobre sacrificio y trabajo duro. Le dedico este premio a todos nuestros trabajadores inmigrantes en esta pandemia; a los estudiantes y las familias inmigrantes. Es por mi familia, mis abuelitos, que hoy estoy aquí”, dijo.

Bieber y Shawn Mendes inauguraron los AMAs con una actuación pregrabada de su nuevo dueto, “Monster”.

Katy Perry, en su primera actuación desde que dio a luz, ofreció una sólida y emotiva interpretación de la esperanzadora canción “Only Love”, que incluyó una aparición sorpresa de Darius Rucker, quien cantó y tocó la guitarra.

Billie Eilish cantó su nueva canción “Therefore I Am” acompañada de su hermano, el compositor y productor Finneas.

Jennifer López y Maluma presentaron su nuevo tema “Pa’ ti” y “Lonely” de la película “Marry Me”, en la que ambos actúan, mientras que Dua Lipa flotó en el aire durante su interpretación de “Levitating”.

Las nominaciones a los AMAs se basaron en reproducciones de streaming, ventas de álbumes y música digital, presencia en la radio y actividad en redes sociales entre el 27 de septiembre de 2019 y el 24 de septiembre de 2020. </p>


    </div>



</main>


<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="PROYEC.HTML"> MIALNOTICAS</a>
  </div>

</footer>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
  </body>
</html>
