<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-noticias.css">
    <title>Subsidios al transporte: cruce entre el PJ y Juntos por el Cambio por la política nacional para el sector</title>
  </head>
  <body>
    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.png" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

        </div>

      </li>


    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>

</nav>
</header>






<main class="bg-secondary">

  <div class="titulo">
    <h1>Subsidios al transporte: cruce entre el PJ y Juntos por el Cambio por la política nacional para el sector</h1>
  </div>

    <div class="parrafo1">
    <p>La vicepresidenta del Ente de la Movilidad, Renata Ghiliotti, dijo que Alberto Fernández "falta a la verdad" y desde el peronismo le respondieron: "En el PRO tienen cara de titanio".</p>
    </div>

      <img class="" src="IMAGENES/politica/noticia3.jpg" alt="">

    <div class="parrafo2">
      <p>La crisis del transporte volvió a generar una fuerte polémica entre representantes del Frente de Todos y Juntos por el Cambio. La cuestión de fondo es la política de subsidios que puso en marcha el gobierno nacional y el impacto que tuvo en el pago de salarios de los choferes de colectivos que provocaron uno de los paros más largos que se registró en la ciudad de Rosario. <br><br>

La vicepresidenta del Ente de la Movilidad, la macrista Renata Ghilotti, acusó al presidente de Alberto Fernández “faltar a la verdad” y de “cambiar las reglas de juego” y aseguró que no está enviando en tiempo y forma los fondos correspondientes para el pago de sueldos. El edil justicialista Eduardo Toniolli recogió el guante y manifestó que los dirigentes del PRO “tienen la cara de titanio”.</p>
      <p> <br>
        Esta vuelta de tuerca sobre la política de subsidios del gobierno nacional se da cuando desde el municipio se iniciaron los contactos con los empresarios del sector para rediseñar el transporte de colectivos en la ciudad, en el marco del estado de emergencia del servicio. Funcionarios evaluaron con los concesionarios de Rosario Bus y El Cacique los posibles recorridos. El servicio en la ciudad se reanudó ayer tras la última huelga ,que duró once días, por atraso en el pago de sueldos. <br><br>

  En declaraciones al programa “El primero de la mañana” que se emite por LT8, Ghilotti aseguró que hubo un recorte del 40 por ciento de los subsidios que envía el gobierno nacional para pagar sueldos. “Nación se comprometió a enviar tres cuotas de 187 millones de pesos. Y ahora va enviar un 40 por ciento menos de ese monto. Todo esto en un contexto de año de pandemia, en el que el Ejecutivo nacional le otorgó a las localidades del Gran Buenos Aires no sólo le envió el 87 por ciento de los subsidios sino que envió una cuota extra de dinero para afrontar la caída de pasajeros propias del covid, cosa que no hizo con el resto del país”, detalló.<br><br>

  Ghilotti agregó que ante el recurrente retraso en la llegada de subsidios, la Municipalidad plantearía un aumento del boleto en los próximos meses, lo cual consideró “un despropósito”. “Pedirle a los rosarinos que paguen más caro el boleto cuando estuvieron tantos días sin usar el servicio es algo fuera de lugar”, agregó.</p>
<br><br>
En cuanto a la política de subsidios de Alberto Fernández, la funcionaria del Ente de la Movilidad señaló que el presidente “falta a la verdad”. “Cuando uno compromete determinada cantidad de dinero en subsidios en un año tan complicado, con un sistema de transporte en Rosario y en el área metropolitana de la ciudad, y cambia las reglas de juego está faltando a la verdad a los rosarinos”, explicó. <br><br>
Por su parte, edil del Frente de Todos, Eduardo Toniolli, le pidió a Ghilotti que “mire toda la película", y añadió: "El gobierno nacional triplicó los subsidios al transporte del interior del país. El monto que percibirán las provincias será de 17 mil millones de pesos. El año pasado el interior recibió poco más de 6 mil millones de pesos".<br><br>

"Entonces, la verdad es que en el PRO tienen la cara de titanio. Acusar a un gobierno que decidió triplicar los subsidios al transporte del interior de mentiroso es hacerle el favor a los empresarios, galvanizando el camino a un aumento de tarifas. Todo eso sin discutir en el plano local cómo hacemos para incrementar el fondo compensador municipal, y que no deba irse nuevamente, como ocurrió durante los cuatro años anteriores, donde al 75 por ciento del retiro de los subsidios que hizo Macri se lo acompañó con un aumento del 500 por ciento de la tarifa del transporte”. <br>
    </div>



</main>


<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="PROYEC.HTML"> MIALNOTICAS</a>
  </div>

</footer>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
  </body>
</html>
