<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>MIAL NOTICAS/Entretenimiento</title>
  </head>
  <body>

    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.PNG" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCION ENTRETENIMIENTO
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

        </div>

      </li>

    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>

  </div>
</nav>
</header>

<main class=" row align-items-center justify-content-center">

        <div class="card" style="width: 18rem;">
            <img src="IMAGENES/entretenimiento/noticia1.jpg" height="190px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="noticiaent1.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Con Disney + llegan los superhéroes del entretenimiento">
                Con Disney + llegan los superhéroes del entretenimiento

              </button></h1> </a>
            <p class="card-text">No es descabellado imaginar que en el futuro, cuando los  </p>
            <a href="noticiaent1.html" class="btn btn-outline-primary btn-block">Ver mas</a>
            </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/entretenimiento/noticia2.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiaent2.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="American Music Awards 2020: Esta es la lista de ganadores">
              American Music Awards 2020: Esta es la lista de ganadores
            </button></h1></a>

          <p class="">Taylor Swift ganó su tercer galardón consecutivo<br></p>
          <a href="noticiaent2.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/entretenimiento/noticia3.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiaent3.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="El entretenimiento va abriendo puertas de forma tímida">
              El entretenimiento va abriendo puertas de forma tímida
            </button></h1> </a>
          <p class="card-text">El gobierno ha iniciado una desescalada </p>
          <a href="noticiaent3.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/entretenimiento/noticia4.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiaent4.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Bad Bunny dio positivo para COVID-19">
              Bad Bunny dio positivo para COVID-19
            </button></h1></a>
          <p class="card-text">Inicialmente, estaba previsto que Bad Bunny interpretara</p>
          <a href="noticiaent4.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
          </div>
    </div>

        <div class="card" style="width: 18rem;">
                <img src="IMAGENES/entretenimiento/noticia5.jpg" height="190px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="noticiaent5.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Phasmophobia, otro videojuego éxito del 2020, se convirtió en un referente del futuro del entretenimiento">
                    Phasmophobia, otro videojuego éxito del 2020, se convirtió en un referente del futuro del entretenimiento
                  </button></h1> </a>
                <p class="card-text">El juego de terror psicológico cuenta con</p>
                <a href="noticiaent5.html" class="btn btn-outline-primary btn-block">Ver mas</a>
                </div>
          </div>

        <div class="card" style="width: 18rem;">
              <img src="IMAGENES/entretenimiento/noticia6.jpg" height="190px" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="noticiaent6.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="El actor Lukas Gage de “Euphoria” descubrió a un director burlándose de él en Zoom: el video se viralizó y Hollywood salió a apoyarlo">
                  El actor Lukas Gage de “Euphoria” descubrió a un director burlándose de él en Zoom: el video se viralizó y Hollywood salió a apoyarlo
                </button></h1></a>
              <p class="card-text">Lukas Gage tiene un recordatorio para todos</p>
              <a href="noticiaent6.html" class="btn btn-outline-primary btn-block">Ver mas</a>
              </div>
          </div>

        <div class="card" style="width: 18rem;">
              <img src="IMAGENES/entretenimiento/noticia7.jpg" height="190px" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="noticiaent7.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Un nuevo polo de entretenimiento y gastronomía para el verano marplatense">
                  Un nuevo polo de entretenimiento y gastronomía para el verano marplatense
                </button></h1> </a>
              <p class="card-text">Además de la tradicional oferta de sus restaurantes</p>
              <a href="noticiaent7.html" class="btn btn-outline-primary btn-block">Ver mas</a>
              </div>
        </div>

        <div class="card" style="width: 18rem;">
              <img src="IMAGENES/entretenimiento/noticia8.jpg" height="190px" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="noticiaent8.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Estos son los streamers de Twitch mejor pagados del mundo">
                  Estos son los streamers de Twitch mejor pagados del mundo
                </button></h1></a>
              <p class="card-text">De los streamers de habla hispana, el mejor pagado de </p>
              <a href="noticiaent8.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
              </div>
      </div>

          <div class="card" style="width: 18rem;">
                    <img src="IMAGENES/entretenimiento/noticia9.jpg" height="190px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="noticiaent9.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Las fotos de Shakira que están causando controversia">
                        Las fotos de Shakira que están causando controversia
                      </button></h1> </a>
                    <p class="card-text">Mucha polémica se ha armado recientemente en torno a </p>
                    <a href="noticiaent9.html" class="btn btn-outline-primary btn-block">Ver mas</a>
                    </div>
            </div>

          <div class="card" style="width: 18rem;">
                  <img src="IMAGENES/entretenimiento/noticia10.jpg" height="190px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="noticiaent10.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="“Para mí es un desconocido” y “Desgraciado”: Violeta Isfel y Laura Bozzo se sumaron a las condenas contra la violencia ejercida por Eleazar “N”">
                      “Para mí es un desconocido” y “Desgraciado”: Violeta Isfel y Laura Bozzo se sumaron a las condenas contra la violencia ejercida por Eleazar “N”
                    </button></h1></a>
                  <p class="card-text">En torno al caso de Eleazar “N” se han pronunciado algunos</p>
                  <a href="noticiaent10.html" class="btn btn-outline-primary btn-block">Ver mas</a>
                  </div>
            </div>

        <div class="card" style="width: 18rem;">
                  <img src="IMAGENES/entretenimiento/noticia11.jpg" height="190px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="noticiaent11.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Cómo será ir al teatro esta temporada: el protocolo para un entretenimiento seguro">
                      Cómo será ir al teatro esta temporada: el protocolo para un entretenimiento seguro
                    </button></h1> </a>
                  <p class="card-text">El protocolo, volcado en un documento de más de 50 </p>
                  <a href="noticiaent.html" class="btn btn-outline-primary btn-block">Ver mas</a>
                  </div>
          </div>

        <div class="card" style="width: 18rem;">
                  <img src="IMAGENES/entretenimiento/noticia12.jpg" height="190px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="noticiaent12.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="El excéntrico look de Wanda Nara para andar a caballo, su nuevo entretenimiento en París">
                      El excéntrico look de Wanda Nara para andar a caballo, su nuevo entretenimiento en París
                    </button></h1></a>
                  <p class="card-text">Wanda Nara dejó Italia y se instaló en Francia</p>
                  <a href="noticiaent12.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
                  </div>
          </div>



</main>


<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="PROYEC.HTML"> MIALNOTICAS</a>
  </div>


</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
