<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>MIAL NOTICAS/Economia</title>
  </head>
  <body>

    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.PNG" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCION ECONOMIA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>

        </div>

      </li>

    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>

  </div>
</nav>
</header>

<main class=" row align-items-center justify-content-center">
<div class="card" style="width: 18rem;">
            <img src="IMAGENES/ECONOMIA/NOTICIA1.jpg" height="190px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="NOTICIAeco1.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La provincia acreditará este viernes 20 de noviembre de 2020 los fondos de la Tarjeta Única de Ciudadanía.">
                La provincia acreditará este viernes 20 de noviembre de 2020 los fondos de la Tarjeta Única de Ciudadanía.
              </button></h1> </a>
            <p class="card-text">El Ministerio de Desarrollo Social, a través de </p>
            <a href="NOTICIAeco1.html" class="btn btn-outline-primary btn-block">Ver mas</a>
      </div>

      </div>
          <div class="card" style="width: 18rem;">
          <img src="IMAGENES/ECONOMIA/NOTICIA2.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="NOTICIAeco2.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Santa Fe firmó convenios para refuerzo alimentario en localidades del norte de la provincia.">
              Santa Fe firmó convenios para refuerzo alimentario en localidades del norte de la provincia.
            </button></h1></a>

          <p class="card-text">El gobierno de la provincia, a través de los Ministerios<br></p>
          <a href="NOTICIAeco2.html" class="btn btn-outline-primary btn-block">Ver mas</a>
      </div>

      </div>
          <div class="card" style="width: 18rem;">
          <img src="IMAGENES/ECONOMIA/NOTICIA3.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="NOTICIAeco2.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Se entregaron nuevos créditos a emprendedores y comerciantes de Malabrigo.">
              Se entregaron nuevos créditos a emprendedores y comerciantes de Malabrigo.
            </button></h1> </a>
          <p class="card-text">El Intendente Roberto Sponton, junto al Secretario de</p>
          <a href="NOTICIAeco3.html" class="btn btn-outline-primary btn-block">Ver mas</a>
      </div>

      </div>
          <div class="card" style="width: 18rem;">
          <img src="IMAGENES/ECONOMIA/NOTICIA4.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="NOTICIAeco4.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Impulsan nuevamente un acuerdo de precios mayoristas de sugerencia para los 10 productos que más se comercializan en esta época del año.">
              Impulsan nuevamente un acuerdo de precios mayoristas de sugerencia para los 10 productos que más se comercializan en esta época del año.
            </button></h1></a>
          <p class="card-text">El Ministerio de Producción, Ciencia y Tecnología, a través</p>
          <a href="NOTICIAeco4.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
      </div>

    </div>

    <div class="card" style="width: 18rem;">
                <img src="IMAGENES/ECONOMIA/NOTICIA5.jpg" height="190px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="NOTICIAeco5.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Beneficios para el sector turístico, hotelero y gastronómico: Diputados aprobó la ley destinada a atender las graves consecuencias originadas por las sucesivas cuarentenas.">
                    Beneficios para el sector turístico, hotelero y gastronómico: Diputados aprobó la ley destinada a atender las graves consecuencias originadas por las sucesivas cuarentenas.
                  </button></h1> </a>
                <p class="card-text">Los diputados provinciales logramos, consensuar primero</p>
                <a href="NOTICIAeco5.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>

          </div>
              <div class="card" style="width: 18rem;">
              <img src="IMAGENES/ECONOMIA/NOTICIA6.jpg" height="190px" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="NOTICIAeco6.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La provincia dispuso nuevos beneficios fiscales para los contribuyentes más afectados por la pandemia.">
                  La provincia dispuso nuevos beneficios fiscales para los contribuyentes más afectados por la pandemia.
                </button></h1></a>

              <p class="card-text">El paquete de medidas, que incluye nuevos planes de pago<br></p>
              <a href="NOTICIAeco6.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>

          </div>
              <div class="card" style="width: 18rem;">
              <img src="IMAGENES/ECONOMIA/NOTICIA7.jpg" height="190px" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="NOTICIAeco7.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La provincia avanza en el plan de reactivación del puerto de la ciudad de Santa Fe.">
                  La provincia avanza en el plan de reactivación del puerto de la ciudad de Santa Fe.
                </button></h1> </a>
              <p class="card-text">Se cargaron otras 2.500 toneladas de maíz quebrado </p>
              <a href="NOTICIAeco7.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>

          </div>
              <div class="card" style="width: 18rem;">
              <img src="IMAGENES/ECONOMIA/NOTICIA8.jpg" height="190px" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="NOTICIAeco8.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La provincia informó que invirtió más de 195 millones de pesos para asistir a comerciantes y prestadores de servicios afectados por la emergencia.">
                  La provincia informó que invirtió más de 195 millones de pesos para asistir a comerciantes y prestadores de servicios afectados por la emergencia.
                </button></h1></a>
              <p class="card-text">e realizó un nuevo desembolso de la Asistencia</p>
              <a href="NOTICIAeco8.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
          </div>

        </div>

        <div class="card" style="width: 18rem;">
                    <img src="IMAGENES/ECONOMIA/NOTICIA9.jpg" height="190px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="NOTICIAeco9.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="A través del Fondo Algodonero, la provincia asiste financieramente a 297 productores algodoneros.">
                        A través del Fondo Algodonero, la provincia asiste financieramente a 297 productores algodoneros.
                      </button></h1> </a>
                    <p class="card-text">El Gobierno de la provincia de Santa Fe, mediante el decreto </p>
                    <a href="NOTICIAeco9.html" class="btn btn-outline-primary btn-block">Ver mas</a>
              </div>

              </div>
                  <div class="card" style="width: 18rem;">
                  <img src="IMAGENES/ECONOMIA/NOTICIA10.jpg" height="190px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="NOTICIAeco10.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="En qué caso y en qué condiciones se refinanciarán automáticamente los saldos impagos de las tarjetas de crédito.">
                      En qué caso y en qué condiciones se refinanciarán automáticamente los saldos impagos de las tarjetas de crédito.
                    </button></h1></a>

                  <p class="card-text">El gobierno provincial, a través de la dirección de Promoción <br></p>
                  <a href="NOTICIAeco10.html" class="btn btn-outline-primary btn-block">Ver mas</a>
              </div>

              </div>
                  <div class="card" style="width: 18rem;">
                  <img src="IMAGENES/ECONOMIA/NOTICIA11.jpg" height="190px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="NOTICIAeco11.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Informe especial sobre el financiamiento empresario mediante la utilización de los instrumentos que aporta el Mercado de Capitales. Conclusiones.">
                      Informe especial sobre el financiamiento empresario mediante la utilización de los instrumentos que aporta el Mercado de Capitales. Conclusiones.
                    </button></h1> </a>
                  <p class="card-text">Las empresas y el Mercado de Capitales argentino </p>
                  <a href="NOTICIAeco11.html" class="btn btn-outline-primary btn-block">Ver mas</a>
              </div>

              </div>
                  <div class="card" style="width: 18rem;">
                  <img src="IMAGENES/ECONOMIA/NOTICIA12.jpg" height="190px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="NOTICIAeco12.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Dólar hoy: la cotización libre sube a $162 y la brecha se sostiene en el 100 por ciento">
                      Dólar hoy: la cotización libre sube a $162 y la brecha se sostiene en el 100 por ciento
                    </button></h1></a>
                  <p class="card-text">Las paridades bursátiles también ascienden por el </p>
                  <a href="NOTICIAeco12.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
              </div>

            </div>



</main>



<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="PROYEC.HTML"> MIALNOTICAS</a>
  </div>


</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
