header{
  width: 100%;
}
main{
  height: 80%;
  background-color: darkgrey;
}
#navbarDropdown{
  color: antiquewhite;
}

.card{

  margin: 10px;

}
.WHATS{
  width: 30px;
  height: 30px;
}
.face{
  width: 30px;
  height: 30px;
}
.yout{
  width: 30px;
  height: 30px;

}
.insta{
  width: 30px;
  height: 30px;
 }
 .dep{
   width: 20px;
   height: 20px;
 }
 .salu{
   width: 20px;
   height: 20px;

 }
 .politica{
   width: 15px;
   height: 20px;

 }
 .entre{
   width: 15px;
   height: 20px;

 }
 .eco{
   width: 20px;
   height: 20px;

 }
 .card-text{
     font-size:18px;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }

 .card-title {
     font-size:19px;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;

 }
.card{
  height: 25em;
}
