<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="salud.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>MIAL NOTICAS/salud</title>
  </head>
  <body>

    <header class="header">

        <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
        <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.PNG" alt="" /></a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCION SALUD
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>
        </div>
      </li>
    </ul>

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>

  </div>
</nav>
</header>



<main class=" row align-items-center justify-content-center">

      <div class="card" style="width: 18rem;">
            <img src="IMAGENES/SALUD/noticia1.jpg" height="190px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="noticiasal1.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Situación COVID-19 en Tucumán">
                Situación COVID-19 en Tucumán
              </button></h1> </a>
            <p class="card-text">El Ministerio de Salud Pública informa que se</p>
            <a href="noticiasal1.html" class="btn btn-outline-primary btn-block">Ver mas</a>
            </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/SALUD/noticia2.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiasal2.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Más de 2.500 agentes de salud se realizaron el testeo voluntario de anticuerpos">
              Más de 2.500 agentes de salud se realizaron el testeo voluntario de anticuerpos
            </button></h1></a>
          <p class="card-text">La actividad se está realizando en el marco de las acciones </p>
          <a href="noticiasal2.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>
    </div>

    <div class="card" style="width: 18rem;">
          <img src="IMAGENES/SALUD/noticia3.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiasal3.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="El hospital del Este Eva Perón tendrá un nuevo tomógrafo">
              El hospital del Este Eva Perón tendrá un nuevo tomógrafo
            </button></h1> </a>
          <p class="card-text">En la mañana la Ministra de Salud y el Gobernador de la</p>
          <a href="noticiasal3.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/SALUD/noticia4.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiasal4.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La dieta alcalina: ¿qué riesgos para la salud conlleva este régimen?">
              La dieta alcalina: ¿qué riesgos para la salud conlleva este régimen?
            </button></h1></a>
          <p class="card-text">La popularidad de la dieta alcalina ha crecido</p>
          <a href="noticiasal4.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
          </div>
    </div>

      <div class="card" style="width: 18rem;">
            <img src="IMAGENES/SALUD/noticia5.jpg" height="190px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="noticiasal5.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Analizan protocolos para la reapertura de los teatros">
                Analizan protocolos para la reapertura de los teatros
              </button></h1> </a>
            <p class="card-text">La ministra de Salud Pública, doctora Rossana Chahla</p>
            <a href="noticiasal5.html" class="btn btn-outline-primary btn-block">Ver mas</a>
            </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/SALUD/noticia6.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiasal6.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Qué es el hipertiroidismo y a quiénes afecta">
              Qué es el hipertiroidismo y a quiénes afecta
            </button></h1></a>
          <p class="card-text">La jefa de la unidad de Patología Glandular del </p>
          <a href="noticiasal6.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/SALUD/noticia7.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiasal7.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="El BAS inicia la semana controlando barrios de las áreas programáticas Centro, Este, Sur y Oeste">
              El BAS inicia la semana controlando barrios de las áreas programáticas Centro, Este, Sur y Oeste
            </button></h1> </a>
          <p class="card-text">Los equipos sanitarios se dirigieron a diferentes</p>
          <a href="noticiasal7.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/SALUD/noticia8.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiasal8.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="El programa Buscarte está en Tafí del Valle realizando prevención y controles sanitarios">
              El programa Buscarte está en Tafí del Valle realizando prevención y controles sanitarios
            </button></h1></a>
          <p class="card-text">Los equipos de salud se apostaron en la villa turística</p>
          <a href="noticiasal8.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
          </div>
    </div>

      <div class="card" style="width: 18rem;">
            <img src="IMAGENES/SALUD/noticia9.jpg" height="190px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="noticiasal9.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Realizaron un homenaje al técnico en hemoterapia Hugo Bulacio">
                Realizaron un homenaje al técnico en hemoterapia Hugo Bulacio
              </button></h1> </a>
            <p class="card-text">En un emotivo acto, la titular de la cartera sanitaria</p>
            <a href="noticiasal9.html" class="btn btn-outline-primary btn-block">Ver mas</a>
            </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/SALUD/noticia10.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiasal10.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La Sociedad Sirio Libanesa donó equipos de prevención al Ministerio de Salud">
              La Sociedad Sirio Libanesa donó equipos de prevención al Ministerio de Salud
            </button></h1></a>
          <p class="card-text">La titular de la cartera sanitaria, doctora Rossana </p>
          <a href="noticiasal10.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>
      </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/SALUD/noticia11.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiasal11.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Se realizó el segundo Operativo de anticuerpos a empleados del hospital Centro de Salud">
              Se realizó el segundo Operativo de anticuerpos a empleados del hospital Centro de Salud
            </button></h1> </a>
          <p class="card-text">La jefa del Departamento de Salud Ocupacional de la</p>
          <a href="noticiasal11.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>
    </div>

      <div class="card" style="width: 18rem;">
          <img src="IMAGENES/SALUD/noticia12.jpg" height="190px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="noticiasal12.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Progresan las obras del hospital Regional de Monteros ‘Gral. Gregorio Araoz de Lamadrid’">
              Progresan las obras del hospital Regional de Monteros ‘Gral. Gregorio Araoz de Lamadrid’
            </button></h1></a>
          <p class="card-text">Con el objetivo de aumentar y mejorar la capacidad de </p>
          <a href="noticiasal12.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
          </div>
      </div>




  </main>



  <footer class="page-footer font-small  bg-dark pt-4">


    <div class="container">


      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
          </a>

        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


          </a>

        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

          </a>
        </li>
      </ul>


    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
      <a href="PROYEC.HTML"> MIALNOTICAS</a>
    </div>


  </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
