<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>MIAL NOTICAS/Deportes</title>
  </head>
  <body>

    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.PNG" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCION DEPORTES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/SALUD.PNG" alt="">SALUD</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_POLITICA.HTML"><img class="politica" src="IMAGENES/ICONOS/politica.png" alt="">   POLITICA</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
          <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

        </div>

      </li>

    </ul>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>

  </div>
</nav>
</header>

<main class=" row align-items-center justify-content-center">
<div class="card" style="width: 18rem;">
            <img src="IMAGENES/DEPORTES/NOTICIA1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="NOTICIAdep1.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La provincia puso en funcionamiento los consejos locales y departamentales del deporte.">
              </button>La provincia puso en funcionamiento los consejos locales y departamentales del deporte.</h1> </a>
            <p class="card-text">Se conformaron los consejos locales y departamentales.</p>
            <a href="NOTICIAdep1.html" class="btn btn-outline-primary btn-block">Ver mas</a>
      </div>

      </div>
          <div class="card" style="width: 18rem;">
          <img src="IMAGENES/DEPORTES/NOTICIA2.jpg" height="190px"class="card-img-top" alt="...">
          <div class="card-body">
            <a href="NOTICIAdep2.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La provincia participa del Pimer Torneo Virtual/ Presencial de Básquet. La actividad es pionera en su estilo y cumple con todos los protocolos sanitarios establecidos.">
              La provincia participa del Pimer Torneo Virtual
            </button></h1></a>

          <p class="card-text">El Ministerio de Desarrollo Social de la provincia, a través.<br></p>
          <a href="NOTICIAdep2.html" class="btn btn-outline-primary btn-block">Ver mas</a>
      </div>

      </div>
          <div class="card" style="width: 18rem;">
          <img src="IMAGENES/DEPORTES/NOTICIA3.JPG" height="190PX"class="card-img-top" alt="...">
          <div class="card-body">
            <a href="3"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Marcelo Gallardo realizó un profundo análisis sobre el fútbol argentino: “Se están viendo partidos feos en un contexto feo”">
              Marcelo Gallardo realizó un profundo análisis sobre el fútbol argentino: “Se están viendo partidos feos en un contexto feo”
            </button></h1> </a>
          <p class="card-text">El entrenador de River Plate no confirmó </p>
          <a href="NOTICIAdep3.html" class="btn btn-outline-primary btn-block">Ver mas</a>
      </div>

      </div>
          <div class="card" style="width: 18rem;">
          <img src="IMAGENES/DEPORTES/NOTICIA4.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="NOTICIAdep4.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Antoine Griezmann rompe el silencio: “Es hora de poner las cosas en su sitio”">
              Antoine Griezmann rompe el silencio: “Es hora de poner las cosas en su sitio”
            </button></h1></a>
          <p class="card-text">Después de verse involucrado en una polémica de su ex</p>
          <a href="NOTICIAdep4.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
      </div>

    </div>

    <div class="card" style="width: 18rem;">
                <img src="IMAGENES/DEPORTES/NOTICIA5.JPG" height="190PX" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="NOTICIAdep5.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Messi no viaja a Kiev: la razón por la que no fue convocado para el próximo partido">
                    Messi no viaja a Kiev: la razón por la que no fue convocado para el próximo partido
                  </button></h1> </a>
                <p class="card-text">El argentino quedó afuera de la nómina de futbolistas que</p>
                <a href="NOTICIAdep5.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>

          </div>
              <div class="card" style="width: 18rem;">
              <img src="IMAGENES/DEPORTES/NOTICIA6.JPG" height="190PX" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="NOTICIAdep5.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Quién es Stefany Gabriela De La Cruz Arcosa, la hermana del futbolista de River detenida con más de 40 kilos de cocaína">
                  Quién es Stefany Gabriela De La Cruz Arcosa, la hermana del futbolista de River detenida con más de 40 kilos de cocaína
                </button></h1></a>

              <p class="card-text">La joven de 26 años es uno de los diez hijos que tuvo <br></p>
              <a href="NOTICIAdep6.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>

          </div>
              <div class="card" style="width: 18rem;">
              <img src="IMAGENES/DEPORTES/NOTICIA7.JPG" height="190PX" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="NOTICIAdep7.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="El Club Atlético Adelante Reconquista inauguró la pileta climatizada.">
                  El Club Atlético Adelante Reconquista inauguró la pileta climatizada.
                </button></h1> </a>
              <p class="card-text">Momentos de profunda emoción se vivieron en sector</p>
              <a href="NOTICIAdep7.html" class="btn btn-outline-primary btn-block">Ver mas</a>
          </div>

          </div>
              <div class="card" style="width: 18rem;">
              <img src="IMAGENES/DEPORTES/NOTICIA8.JPG" height="190PX"  class="card-img-top" alt="...">
              <div class="card-body">
                <a href="NOTICIAdep8.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Funcionarios municipales se reunieron con representantes de instituciones deportivas y gimnasios de Reconquista.">
                  Funcionarios municipales se reunieron con representantes de instituciones deportivas y gimnasios de Reconquista.
                </button></h1></a>
              <p class="card-text">El Secretario de Control Público Lic. Nicolás Sandrigo</p>
              <a href="NOTICIAdep8.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
          </div>

        </div>

        <div class="card" style="width: 18rem;">
                    <img src="IMAGENES/DEPORTES/NOTICIA9.JPG" height="190PX" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="NOTICIAdep9.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La provincia extendió la inscripción al programa Aportes al Deporte Comunitario.">
                        La provincia extendió la inscripción al programa Aportes al Deporte Comunitario.
                      </button></h1> </a>
                    <p class="card-text">El Ministerio de Desarrollo Social, a través de la Secretaría</p>
                    <a href="NOTICIAdep9.html" class="btn btn-outline-primary btn-block">Ver mas</a>
              </div>

              </div>
                  <div class="card" style="width: 18rem;">
                  <img src="IMAGENES/DEPORTES/NOTICIA10.JPG" height="190PX" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="NOTICIAdep10.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Con Pole Position y doble podio, el piloto de Reconquista Giuliano Pereson se lució en Buenos Aires.">
                      Con Pole Position y doble podio, el piloto de Reconquista Giuliano Pereson se lució en Buenos Aires.
                    </button></h1></a>

                  <p class="card-text">El Evento #2 de Iame Series Argentina se llevó a cabo en el<br></p>
                  <a href="NOTICIAdep10.html" class="btn btn-outline-primary btn-block">Ver mas</a>
              </div>

              </div>
                  <div class="card" style="width: 18rem;">
                  <img src="IMAGENES/DEPORTES/NOTICIA11.JPG" height="190PX" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="NOTICIAdep11.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Ángel David Comizzo nuevamente campeón en Perú.">
                      Ángel David Comizzo nuevamente campeón en Perú.
                    </button></h1> </a>
                  <p class="card-text">Angel David Comizzo en la dirección técnica del</p>
                  <a href="NOTICIAdep11.html" class="btn btn-outline-primary btn-block">Ver mas</a>
              </div>

              </div>
                  <div class="card" style="width: 18rem;">
                  <img src="IMAGENES/DEPORTES/NOTICIA12.JPG" height="190PX"  class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="NOTICIAdep12.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Alfredo Segado está entre los mejores. Clasificó a la Final del Campeonato Argentino Sub 2300.">
                      Alfredo Segado está entre los mejores. Clasificó a la Final del Campeonato Argentino Sub 2300.
                    </button></h1></a>
                  <p class="card-text">El jugador y dirigente de Area Reconquista (afiliada a la </p>
                  <a href="NOTICIAdep12.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
              </div>

            </div>



</main>


<footer class="page-footer font-small  bg-dark pt-4">


  <div class="container">

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


        </a>

      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

        </a>
      </li>
    </ul>


  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
    <a href="potreroDigital_proyecto_grupo17_PROYEC.html"> MIALNOTICAS</a>
  </div>


</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
