<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" href="CSS/potreroDigital_proyecto_grupo17_style-de-secciones.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>MIAL NOTICAS/Politica</title>
  </head>
  <body>

    <header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh t bg-dark">
      <a class="navbar-brand logo" href="potreroDigital_proyecto_grupo17_PROYEC.HTML"><img src="IMAGENES/MIALNOTICIAS1.PNG" alt="" /></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SECCION POLITICA
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_DEPORTES.HTML"><img class="dep" src="IMAGENES/ICONOS/deportes.png" alt="">  DEPORTES</a>
            <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_SALUD.HTML"> <img class="salu" src="IMAGENES/ICONOS/salud.png" alt="">SALUD</a>
            <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ENTRETENIMIENTO.HTML"><img class="entre" src="IMAGENES/ICONOS/ENTRETENIMIENTO.png" alt="">  ENTRETENIMIENTO</a>
            <a class="dropdown-item" href="potreroDigital_proyecto_grupo17_ECONOMIA.HTML"><img class="eco" src="IMAGENES/ICONOS/economia.png" alt="">  ECONOMIA</a>

          </div>

        </li>


      </ul>
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
          </a>

        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


          </a>

        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

          </a>
        </li>
      </ul>


    </div>

  </nav>
  </header>


  <main class=" row align-items-center justify-content-center">

        <div class="card" style="width: 18rem;">
              <img src="IMAGENES/politica/noticia1.jpg" height="190px" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="noticiapol1.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Perú vende bonos a 100 años solo días después de crisis política">
                  Perú vende bonos a 100 años solo días después de crisis política
                </button></h1> </a>
              <p class="card-text">Perú está volviendo al mercado de deuda</p>
              <a href="noticiapol1.html" class="btn btn-outline-primary btn-block">Ver mas</a>
              </div>
        </div>

      <div class="card" style="width: 18rem;">
            <img src="IMAGENES/politica/noticia2.jpg" height="190px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="noticiapol2.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Biden anuncia su gabinete y comienza a desarmar la política de tensión de Trump">
                Biden anuncia su gabinete y comienza a desarmar la política de tensión de Trump
              </button></h1></a>
            <p class="card-text">Las secretarías de Estado y del Tesoro son</p>
            <a href="noticiapol2.html" class="btn btn-outline-primary btn-block">Ver mas</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="IMAGENES/politica/noticia3.jpg" height="190px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="noticiapol3.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Subsidios al transporte: cruce entre el PJ y Juntos por el Cambio por la política nacional para el sector">
                Subsidios al transporte: cruce entre el PJ y Juntos por el Cambio por la política nacional para el sector
              </button></h1> </a>
            <p class="card-text">La vicepresidenta del Ente de la Movilidad, Renata Ghiliotti</p>
            <a href="noticiapol3.html" class="btn btn-outline-primary btn-block">Ver mas</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="IMAGENES/politica/noticia4.jpg" height="190px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="noticiapol4.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="ARA San Juan: por qué la Justicia ordenó investigar la responsabilidad política">
                ARA San Juan: por qué la Justicia ordenó investigar la responsabilidad política
              </button></h1></a>
            <p class="card-text">A los 44 tripulantes de la nave "los enviaron a la muerte"</p>
            <a href="noticiapol4.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
            </div>
      </div>

        <div class="card" style="width: 18rem;">
                  <img src="IMAGENES/politica/noticia5.jpg" height="190px" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="noticiapol5.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Santiago Cafiero, sobre el caso Abigail: “Me parece mezquina la utilización política que se está haciendo”">
                      Santiago Cafiero, sobre el caso Abigail: “Me parece mezquina la utilización política que se está haciendo”
                    </button></h1> </a>
                  <p class="card-text">El Jefe de Gabinete afirmó que se hizo un uso “extremo del</p>
                  <a href="noticiapol5.html" class="btn btn-outline-primary btn-block">Ver mas</a>
                  </div>
          </div>

            <div class="card" style="width: 18rem;">
                <img src="IMAGENES/politica/noticia6.jpg" height="190px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="noticiapol6.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La nueva orientación de la política económica y la pata cambiaria que falta">
                    La nueva orientación de la política económica y la pata cambiaria que falta
                  </button></h1></a>
                <p class="card-text">Sin plan explícito, pero con un cúmulo de medidas</p>
                <a href="noticiapol6.html" class="btn btn-outline-primary btn-block">Ver mas</a>
                </div>
            </div>

          <div class="card" style="width: 18rem;">
                <img src="IMAGENES/politica/noticia7.jpg" height="190px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="noticiapol7.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Luis Basterra contra Mauricio Macri: criticó la política agraria de retenciones y liquidación de granos">
                    Luis Basterra contra Mauricio Macri: criticó la política agraria de retenciones y liquidación de granos
                  </button></h1> </a>
                <p class="card-text">Con la crisis cambiaria, el campo es uno de los</p>
                <a href="noticiapol7.html" class="btn btn-outline-primary btn-block">Ver mas</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="IMAGENES/politica/noticia8.jpg" height="190px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="noticiapol8.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="El miedo a las mujeres en la política">
                    El miedo a las mujeres en la política
                  </button></h1></a>
                <p class="card-text">Partamos de un hecho: si el mundo, la política</p>
                <a href="noticiapol8.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                      <img src="IMAGENES/politica/noticia9.jpg" height="190px" class="card-img-top" alt="...">
                      <div class="card-body">
                        <a href="noticiapol9.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="¿Cuál es la política monetaria?">
                          ¿Cuál es la política monetaria?
                        </button></h1> </a>
                      <p class="card-text">Dentro de algunos pasos hacia la ortodoxia por</p>
                      <a href="noticiapol9.html" class="btn btn-outline-primary btn-block">Ver mas</a>
                      </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="IMAGENES/politica/noticia10.jpg" height="190px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="noticiapol10.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Senado: martes y jueves habrá reuniones virtuales de comisión">
                        Senado: martes y jueves habrá reuniones virtuales de comisión
                      </button></h1></a>
                    <p class="card-text">Las comisiones de Producción, Legislación General y la de</p>
                    <a href="noticiapol10.html" class="btn btn-outline-primary btn-block">Ver mas</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="IMAGENES/politica/noticia11.jpg" height="190px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="noticiapol11.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="La política exterior Argentina 2020: cuando se creía tener todas las respuestas, se cambiaron todas las preguntas">
                        La política exterior Argentina 2020: cuando se creía tener todas las respuestas, se cambiaron todas las preguntas
                      </button></h1> </a>
                    <p class="card-text">Más allá de mala relación durante el pasado período K</p>
                    <a href="noticiapol11.html" class="btn btn-outline-primary btn-block">Ver mas</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="IMAGENES/politica/noticia12.jpg" height="190px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="noticiapol12.html"><h1 class="card-title"<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Los grandes recursos de hidrocarburos de la región encuentran en la política una piedra en el zapato">
                        Los grandes recursos de hidrocarburos de la región encuentran en la política una piedra en el zapato
                      </button></h1></a>
                    <p class="card-text">Los desafíos de la industria petrolera en el corto y largo </p>
                    <a href="noticiapol12.html" class="btn btn-outline-primary btn-block ">Ver mas</a>
                    </div>
              </div>



</main>

  <footer class="page-footer font-small  bg-dark pt-4">


    <div class="container">


      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <a href="https://www.facebook.com/"><img class="face"  src="IMAGENES/ICONOS/facebook.png" alt=""></a>
          </a>

        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <a href="https://web.whatsapp.com/"><img class="WHATS"  src="IMAGENES/ICONOS/whatsapp.png" alt=""></a>


          </a>

        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <a href="https://www.youtube.com/"><img class="yout"  src="IMAGENES/ICONOS/youtube.png" alt=""></a>

          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <a href="https://www.instagram.com/?hl=es-la"><img class="insta"  src="IMAGENES/ICONOS/instagram.png" alt=""></a>

          </a>
        </li>
      </ul>


    </div>


    <div class="footer-copyright text-center py-3">© 2020 Copyright:MIALNOTICIAS
      <a href="PROYEC.HTML"> MIALNOTICAS</a>
    </div>


  </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
